/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  color: black;
}

h1, h2 {
  display: flex;
  margin-top: 80px;
  flex-direction: row;
  height: 30px;
}

 .nav-container {
   width: 100%;
   display: flex;
   font-weight: bold;
   font-size: 10pt;
   padding: 20px 30px 20px 20px;
   position: fixed;
   top: 0;
   overflow: hidden;
   background-color: white;
   margin-top: 0;
   z-index: 10;
   border-bottom: 1px solid lightgray;
 }

span {
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}

td, th {
  padding-right: 40px;
  padding-bottom: 5px;
}

td:nth-child(2) {
  text-align: center;
}

thead {
  text-align: left;
}

.show-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.request-trip {
  border: 1px solid black;
  padding: 10px;
  text-decoration: none;
  background-color: lightgreen;
}
